/* Group one */
.gr-1 {
  color: #323642;
  color: #81bd4a;
  color: #e5e3da;
  color: #cfcdc4;
}

/* Group two */
.gr-2 {
  color: #4e2e54;
  color: #954f75;
  color: #f8dac3;
  color: #f8f4e9;
}

/* Group three */
.gr-3 {
  color: #314d77;
  color: #f38cb1;
  color: #fdc2c2;
  color: #fff7ea;
}

/* Group four */
.gr-4 {
  color: #413c58;
  color: #a3c4bc;
  color: #bfd7b5;
  color: #e7efc5;
  color: #f2dda4;
}

/* Group five */
.gr-5 {
  color: #bee7e8;
  color: #a0d2db;
  color: #7d8cc4;
  color: #726da8;
  color: #594157;
}

/* Group six */
.gr-6 {
  color: #000411;
  color: #aeb7b3;
  color: #e1efe6;
  color: #efcb68;
  color: #160c28;
}

/* Group seven */
.gr-7 {
  color: #ffede1;
  color: #f9fbf2;
  color: #d7f9ff;
  color: #afcbff;
  color: #0e1c36;
}

/* Group eight */
.gr-8 {
  color: #9a9cea;
  color: #a2b9ee;
  color: #a2dcee;
  color: #adeee2;
}

/* Group nine */
.gr-9 {
  color: #9dc8cf;
  color: #467496;
  color: #ddab86;
  color: #263b58;
}

/* Group ten */
.gr-10 {
  color: #517c63;
  color: #f3f0e9;
  color: #e7dfcf;
  color: #ab9c82;
}

/* Group elevent */
.gr-11 {
  color: #5f57ff;
  color: #2563eb;
  color: #7149c6;
  color: #7e22ce;
  color: #f34141;
  color: #fc2979;
  color: #df1c41;
  color: #cd3636;
  color: #f6ff01;
  color: #a6ff00;
  color: #fe5829;
  color: #ff55bb;
}

/* Group 12 */
.gr-12 {
  color: #083486;
  color: #f78801;
  color: #112222;
  color: #f0f5ff;
  color: #fff4e8;
}
